#fb-page { 
  margin: 0 auto;
}

.nav-pills {
	width: 100%;
}

.h4-main {
    color: #03528a; !important
}

th {
    text-align: left;
    height: 30px; !important
}

td {
    text-align: left;
    
}

tr {
    height: 25px; !important
}

#table-day {
    width: 50px;
}

#p {
    text-align: left;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    margin-bottom: 20px;
    width: 100%;
    max-width: 100%;
}

