.h1 {
    margin-top: 20%;
    padding-bottom: 40px;
}

.form-group {
    padding-bottom: 20px;
}

.form-control {
    width: 70%;
    margin: auto;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    vertical-align: baseline;
}
